<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.globaltester.testspecification.importables">
      <testspec
            bundle="org.globaltester.testspec.sample"
            descr="This is NOT a conformity test specification of a smart card. You can run this testcases e.g. - on your ePassport, on your credit card, on the german eGK (elektronisch Gesundheitskarte) and on your Geldkarte (EC Card) for example."
            name="GlobalTester Sample TestSpecification">
      </testspec>
   </extension>

</plugin>
