<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.globaltester.testspecification.importables">
      <testspec
            bundle="org.globaltester.testspec.sample"
            descr="This test specification contains several test cases that can be used to check the type of a smartcard. You can run this testcases e.g. - on your ePassport, on your credit card, on the german illness card and on your Geldkarte (EC Card) for example."
            name="GlobalTester Sample TestSpecification">
      </testspec>
   </extension>

</plugin>
